# Folders
/__pycache__
/SFDCqueries/UnitTestingTutorial/my_sum/__pycache__
/SFDCqueries/__pycache__
/DataArchive/__pycache__
/my-local-aws-repo
/env
/BulkLoadFiles
/.vscode

# Files
auth.py
.DS_Store
/DataArchive/PandasStuffs.py
/SFDCqueries/SOQL_Tutorial.py
/SFDCqueries/NPVTool_v2.py
/SFDCqueries/SOQL_JSON_Shell - BackupCopy.json
*.csv